.header-container {
    height:850px;
    position:relative;
    background-image: url('../../../images/backgroundChair.png');
    background-size: cover;
}
.header-container::after{
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    z-index: -50;
}
.header-container::after {
    right: 0;
    background-color: #3A4256;
}
.text-color{
  color: #3A4256;
}